{% extends "global/basegames.html" %}

{% block main %}
{% load static %}

  <main>
        <section class="container">
        <div class="iframe-container">
            <iframe id="gameIframe" src="{% static 'global/games/FlappyCat/index.html' %}" allow="fullscreen"
                title="Flappy Cat - Jogo Incrível">
            </iframe>
        </div>
    </section>
        <!-- Informações do Jogo -->
        <div class="game-info">
            <h2>Flappy Cat</h2>
            <p>
                Flappy Cat é um jogo divertido e desafiador onde você controla um gato que precisa pular e desviar de
                obstáculos para sobreviver. Quanto mais tempo você durar, maior será sua pontuação! Será que você
                consegue bater o recorde?
            </p>

            <!-- Controles do Jogo -->
            <div class="controls">
                <h3>Controles</h3>
                <ul>
                    <li>
                        <strong>
                            <img src="{% static 'global/img/keyboard-button.png' %}" alt="Teclas WASD do Teclado" width="80"> WASD ou
                             Setas <img src="{% static 'global/img/keys.png' %}" alt="Setas do Teclado" width="80">
                        </strong> - Navegar no Menu
                    </li>
                    <li>
                        <strong>
                            <img src="{% static 'global/img/enter.png' %}" alt="Tecla Enter do Teclado" width="80"> Enter
                        </strong>
                        - Interagir
                    </li>
                    <li>
                        <strong>
                            <img src="{% static 'global/img/click.png' %}" alt="Botão esquerdo do Mouse" width="80"> Clique do Mouse
                        </strong>
                        - Interagir e Pular
                    </li>
                    <li>
                        <strong>
                        <img src="{% static 'global/img/space.png' %}" alt="Tecla Espaço do Teclado" width="80"> Espaço
                    </strong> - Pular
                    </li>
                </ul>
            </div>
        </div>
        </div>

    </main>
{% endblock main %}