{% extends "global/basegames.html" %}

{% block main %}
{% load static %}
    <main>
        <h1>Jogue Agora!</h1>
        <div class="iframe-container">
            <iframe id="gameIframe" src="{% static "global/games/ProjetoHel/index.html" %}" allow="fullscreen"
                title="To The Hel - Jogo Incrível" >
            </iframe>
        </div>
        <!-- Informações do Jogo -->
        <div class="game-info">
            <h2>To The Hel (Demonstração)</h2>
            <p>
                To The Hel é um jogo roguelike cativante onde o jogador assume o papel de Aren, condenada ao Reino
                sombrio de Helheim após sua morte.
            </p>

            <!-- Controles do Jogo -->
            <div class="controls">
                <h3>Controles</h3>
                <ul>
                    <li>
                        <strong>WASD
                            <img src="{% static "global/img/keyboard-button.png" %}" alt="Teclas WASD do Teclado" width="80"> ou
                            <img src="{% static "global/img/keys.png" %}" alt="Setas do Teclado" width="80"> Setas
                        </strong> - Movimentar e
                        Pular
                    </li>
                    <li>
                        <strong>
                            <img src="{% static "global/img/click.png" %}" alt="Botão esquerdo do Mouse" width="80"> Clique do Mouse
                        </strong>
                        - Atacar
                    </li>
                    <li>
                        <strong>
                            <img src="{% static "global/img/shift.png" %}" alt="Tecla Shift do Teclado" width="80"> Shift
                        </strong> - Correr
                    </li>
                </ul>
            </div>
        </div>
        </div>

    </main>
{% endblock main %}