{% load static %}

<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">
          <figure>
            <img src="{% static 'global/img/Logo_HDG.png' %}" alt="" width="120" height="100">
          </figure>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Início</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'loja' %}">Loja</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'trabalheConosco' %}">Trabalhe Conosco</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'sobre' %}">Sobre Nós</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nossos Jogos
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item d-flex align-items-center" href="{% url 'toTheHel' %}"><img
                      src="{% static 'global/img/logo_ToTheHel.png' %}" alt="To The Hel" class="dropdown-img me-2" width="24" height="24">To The
                    Hel</a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="{% url 'flappyCat' %}"><img
                      src="{% static 'global/img/logo_FlappyCat.png' %}" alt="Flappy Cat" class="dropdown-img me-2" width="24"
                      height="24">Flappy Cat</a></li>
                <li><a class="dropdown-item d-flex align-items-center" href="{% url 'skyF' %}"><img
                      src="{% static 'global/img/logo_skyfighter.png' %}" alt="Skyfighter e os Aerochamas" class="dropdown-img me-2" width="24"
                      height="24">Skyfighter e os Aerochamas</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
