#sobre {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
  }
  
  #sobre h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  #sobre p {
    font-size: 16px;
    line-height: 1.5;
}