body {
    font-family: Arial, sans-serif;
    margin-top: auto;
    padding: 0;
    text-align: center;
    background-color: rgb(41, 39, 39);
}

/* Estilização do Footer */
footer {
    background-color: brown;
    color: aliceblue;
    margin: 0x;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-contato {
    text-align: center;
    justify-content: center;
}

.footer-social img {
    text-align: right;
    width: 25px;
}


